root = true

[{*.c, *.h, *.cpp, *.fbs, *.sh, *.cmake, *.cmake.in, *.txt}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[{*.yml, *.json}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
